<h2>About</h2>
<div class="about-content">
	<p>
	Yarimar Jim&eacutenez is a freelance photographer based in San Juan, Puerto Rico.  She has over 6 years of experience in photography, and is completely dedicated to the art form. Yarimar graduated from the International Center of Photography in New York City.  She earned a Bachelor degree in Business Administration from the University of Puerto Rico,  and certificates in Photography from New York University, University of Sacred Heart and the Puerto Rico Museum of Contemporary Art. 
	</p>
	<p>For assignments, contact <a ng-href='#/about/contact'>Yarimar Jim&eacutenez</a></p>
	<p>For her fine art photography, please visit<a href="www.yarimarjimenez.com"> here</a>.
</div>
<div class="about-img">
	<img src="img/about/profile-01.jpg">
</div>
