<!-- Index.html Website index/home -->
<html ng-app="yariWeb">
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The avbove meta tags are required first for bootstrap -->

    <title>ExampleWebsite</title>

    <!--Bootstrap -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
  </head>

  <body ng-controller="MainCtrl as ctrl">
    
    <!-- Logo/Header --> 
    <div id="logo">
      <div>
	    <img id="logo_img" class="align-right" src="img/logo.png" float="left"></img>
	    <h3>Yarimar Jim&eacutenez </br>Photography</h3>
	    <h5>Freelance Photographer</h5>
      </div>
    </div>
    <!-- End Logo/Header -->

    <div class="row">
      <!-- Navigation Panel -->
      <div id="nav_panel" class="col-md-3">
		<!-- Placeholders for actual buttons that render views in Main container of the site -->
		<p><a ng-click="ctrl.open('home')">Home<a></p>
		<p><a ng-click="ctrl.open('weddings')">Weddings</a></p>
		<p><a ng-click="ctrl.open('potraits')">Portraits</a></p>
		<p><a ng-click="ctrl.open('events')">Event</a></p>
		<p><a ng-click="ctrl.open('travels')">Travel</a></p>
		<p><a ng-click="ctrl.open('about')">About</a></p>
		<p><a ng-click="ctrl.open('clients')">Clients</a></p>
      </div>
    <!-- End Navigation Panel -->

    <!-- Main container where it will render photos depending what button was cliked -->
      <div id="main_container" class="col-md-9">

	    <!--Main Content controlled by the ng-switch -->
	    <div ng-switch on="ctrl.mainContent">

	      <!-- When user hits home/default page -->		    
	      <div ng-switch-when="home">
		      Home
	      </div>
	      <!-- End Home on main content -->

	      <!-- When user hits clients nav -->
	      <div ng-switch-when="clients">

	              <!--If user is admin this will show -->
	      	      <div ng-show="ctrl.user.admin">

		      <!--This button will make Client forms show -->
		      <div ng-controller="ClientCtrl as cctrl">
		        <button ng-click="cctrl.showClientForm=true" ng-show="!cctrl.showClientForm">
			      Create client:
		        </button>
		      <form ng-submit="cctrl.submit()" name="clientForm" ng-show="cctrl.showClientForm">
			      <h4>Create Client Form</h4>
			      <input type="text"  
			         class="firstName"
			         name="fname"
				 ng-model="cctrl.client.firstName" 
				 placeholder = "First Name"
				 required>
				 </br>

			      <input type="text"  
			         name="lname" 
				 class="lname"
				 ng-model="cctrl.client.lastName" 
				 placeholder = "Last Name"
				 required>
				 </br>

			      <input type="email"
			         name="clientemail"
				 class="cemail"
			         ng-model="cctrl.client.email"
				 placeholder = "Clients' Email"
				 required>
				 </br>

			      <input type="text"  
			         ng-model="cctrl.client.password" 
				 class="cpassword"
				 placeholder = "Clients' password"
				 name="cpassword"
				 required>
				 </br>
			      <input type="text"
			         ng-model="cctrl.client.note"
				 placeholder= "Clients' note">
				 </br>
			      <input type="submit" value="Submit" ng-disabled="clientForm.$invalid">
	      	      </form>
	              </div>
		      <!--End client form -->

	              </div>
	              <!-- End user with admin privileges -->
	      </div>
	      <!--End clients navigator -->

	      <!-- Main content for Clients navigation when user is not logged in -->
	      <div ng-show="!ctrl.user" >
	      </div>
      </div>
      <!--End switch for mainContent -->
    </div>
    <!-- End main container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!-- Include all compiled plugins (bellow, or include individual files as needed -->
    <script src="node_modules/angular/angular.js"></script>

    <!-- Script includes most of the angular js work -->
    <script src="app.js"></script>
    
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"</script>

  </body>



</html>
