/* Global Styles */

h3{
}


#logo_img{
	float:left;
	height:80px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

h5{
	margin-top:-8px;
}

#nav_panel{
	margin-top 5px;
	width: 70px;
	float: left;
}

#main_container{
	float: right;
}

/*Form for clients style*/

.firstName.ng-valid{
	border-color: green;
}

.firstName.ng-dirty.ng-invalid-required{
	border-color: red;
}

.lname.ng-valid{
	border-color: green;
}

.lname.ng-dirty.ng-invalid-required{
	border-color: red;
}

.cemail.ng-valid{
	border-color: green;
}

.cemail.ng-dirty.ng-invalid{
	border-color: pink;
}

.cemail.ng-dirty.ng-invalid-required{
	border-color: red;
}


.cpassword.ng-valid{
	border-color: green;
}

.cpassword.ng-dirty.ng-invalid-required{
	border-color: red;
}
