/* Global Styles */

#nav_panel,ul,li{
      list-style:none;
      margin-left:-12px;
}

#nav_panel,ul{
	margin-top:-10px;
}
	

#logo_img{
	float:left;
	height:80px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

h5{
	margin-top:-8px;
}

#nav_panel{
	margin-top 5px;
	width: 70px;
	float: left;
}

#main_container{
	float: right;
	margin-top:25px;
}

/*About image*/

#about-img{
	margin-left: auto;
	margin-right: auto;
	width:420px;
	height:315px;
}


#blocktext{
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	width:500px;
}

#carousel-home{
	width:467px;
	height:700px;
}

/*Form for clients style*/

.firstName.ng-valid{
	border-color: green;
}

.firstName.ng-dirty.ng-invalid-required{
	border-color: red;
}

.lname.ng-valid{
	border-color: green;
}

.lname.ng-dirty.ng-invalid-required{
	border-color: red;
}

.cemail.ng-valid{
	border-color: green;
}

.cemail.ng-dirty.ng-invalid{
	border-color: pink;
}

.cemail.ng-dirty.ng-invalid-required{
	border-color: red;
}


.cpassword.ng-valid{
	border-color: green;
}

.cpassword.ng-dirty.ng-invalid-required{
	border-color: red;
}
#slides_control > div{
  height: 200px;
  }
#img_carousel{
  margin:auto;
  width:auto;
  height:auto;
 }
       
#slides_control {
  position:absolute;
  left:50%;
  top:20px;
  margin-left:-200px;
 }
.carousel-slide{
	width:800px;
	height:600px;
}
