/* Global Styles */

h3{
}


#logo_img{
	float:left;
	height:80px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

h5{
	margin-top:-8px;
}

#nav_panel{
	margin-top 5px;
	width: 70px;
	float: left;
}

#main_container{
	float: right;
}
